!!!
%html{lang: "ja", prefix: "og: http://ogp.me/ns#"}
  %head
    %title video_chat_with_tokbox
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    = render "partials/navbar"
    = render "partials/flashes"
    = render "partials/main"
    = javascript_include_tag "application"
